.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 10em;
    background-color: var(--negro);
}

.nav a{
    color: var(--blanco);
}

.nav a:hover{
    color: #ff0000;
    transition: color 0.3s ease-in-out;
}

a{
    text-decoration: none;
}

.logoContainer{
    height: 40px;
    display: flex;
    align-items: center;
}

.cabecera .logoPodcast{
    align-self: start;
}

.cabecera span{
    align-self: end;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 8px;
    color: white;
    font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
    .cabecera{
        /* NOTA TAL VEZ ESTE 100% ME DE PROBLEMAS */
        padding: 10px;
    }

    .logoContainer{
        height: 35px;
    }

    .logoPodcast{
        width: 50px;
    }

    .cabecera span{
        font-size: 1rem;
    }

}