.footer{
    background-color: var(--negro);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.titulo{
    font-size: 1.2rem;
    color: var(--blanco);
}

@media screen and (max-width: 800px) {
    .footer{
        width: 100%;
    }
}